.place__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    align-self: start;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }
}