.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
        margin-right: 16px;
        margin-left: 16px;
    }
}