.places {
    max-width: 984px;
    display: grid;
    gap: 80px;
    margin: 92px 0 0 0;
    padding: 0 148px 0 148px;
}

@media (max-width: 1024px) {
    .places {
        max-width: 928px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .places {
        margin-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
        gap: 73px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .places {
        margin: 64px 0 0 0;
        max-width: 320px;
        padding: 0;
        gap: 50px;
    }
}