.header {
    width: calc(100% - 48px * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px auto 0 auto;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin-top: 16px;
    }
}