.header {
    width: calc(100% - 2 * 48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0 0 0;
    padding: 0;
}

@media (max-width: 768px) {
    .header {
        width: calc(100% - 2 * 24px);
    }
}

@media (max-width: 320px) {
    .header {
        width: calc(100% - 2 * 16px);
        margin-top: 16px;
    }
}
