.lead__subtitle {
    display: block;
    max-width: 640px;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin: 32px auto 64px auto;
    padding: 0;
    text-align: center;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin-top: 32px;
        margin-bottom: 56px;
    }
}

@media (max-width: 767px) {
    .lead__subtitle {
        max-width: 640px;
        line-height: 36px;
        margin-top: 16px;
        margin-bottom: 40px;
    }
}

@media (max-width: 700px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}