.lead__figure {
    margin: 0 148px 0 148px;
    padding: 0;
}

@media (max-width: 1024px) {
    .lead__figure {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width: 768px) {
    .lead__figure {
        margin-left: 0;
        margin-right: 0;
    }
}