.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto 80px 0;
    padding: 0;
}

.place:last-of-type {
    margin-bottom: 0;
}