.place {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto;
    padding: 0;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1151px) {
    .place {
        column-gap: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place {
        max-width: 720px;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        column-gap: 28px;
    }
}

@media (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
    }
}