.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 48px * 2);
    margin: 0 auto 24px auto;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-bottom: 24px;
        width: calc(100% - 24px * 2);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 24px;
        width: calc(100% - 16px * 2);
    }
}