.place__url-heading {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #aaaaaa;
    line-height: 170%;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        line-height: 12px;
    }
}